body {
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	color: black;
	background-color: #ffc;
	margin: 20px;
	padding: 0;
}

h1 {
	color: #ffc;
	background-color: #009;
	font-size: 2em;
	margin: 0;
	margin-bottom: 7px;
	padding: 4px;
	font-style: italic;
	text-align: center;
	letter-spacing: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: #c00;
}

h2 {
	color: white;
	background-color: #090;
	font-size: 1.5em;
	margin: 0;
	padding: 2px;
	padding-left: 14px;
}

h3 {
	color: #999;
	font-size: 1.25em;
}

img {
	border-style: dashed;
	border-width: 2px;
	border-color: #ccc;
}

a {
	text-decoration: none;
}

strong {
	font-style: italic;
	text-transform: uppercase;
}

li {
	color: #900;
	font-style: italic;
}

p {
	line-height: 21px;
}

table {
	background-color: #ccc;
}

#top {
	background-color: #ccc;
	padding: 20px;
}

#top h1 {
	color: #ff0;
}

#top p {
	color: red;
	font-weight: bold;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: none;
	color: blue;
	background-color: yellow;
}

input:focus, textarea:focus {
	background: #eee;
}