body {
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	color: navy;
}

h1 {
	color: #ffc;
	background-color: #009;
	font-size: 2em;
}

h2 {
	font-size: 1.5em
	background-color: #ccc;
	margin: 20px;
	padding: 40px;
}

a {
	text-decoration: none;
}

strong {
	font-style: italic;
	text-transform: uppercase;
}

p {
	letter-spacing: 0.5em;
	word-spacing: 2em;
	line-height: 1.5;
	text-align: center;
}